* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(180deg, #87CEEB, #00BFFF); /* Sky blue to deep ocean blue gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.menu-container {
    background-color: #FFFAF0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
}

h1 {
    color: #008080;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.menu-button, .back-button {
    display: block;
    width: 200px;
    padding: 15px;
    margin: 10px auto;
    background-color: #FFD700;
    color: white;
    border: 2px solid #FF4500;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-button:hover, .back-button:hover {
    background-color: #FF4500;
    transform: scale(1.1);
}

.menu-button:active, .back-button:active {
    background-color: #FF6347;
}

.menu-button:focus, .back-button:focus {
    outline: none;
}

.goldfish-page-container {
    background-color: #FFFAF0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    animation: fadeIn 1s ease;
}

h1 {
    font-size: 2.5em;
    color: #FF4500;
    margin-bottom: 20px;
}

.goldfish-info {
    margin: 20px 0;
}

.goldfish-info p {
    font-size: 1.2em;
    color: #333;
    margin: 20px 0;
    line-height: 1.6em;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.goldfish-image {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
